<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ejemplo HTML-CSS3</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Mi primer Pagina Web CSS3">
    <meta name="Keywords" content="HTML5, CSS3, Web, Diseño web, UMG" />
    <style>

    </style>
</head>

<body class="body">

    <header class="pageHeader">
        <nav>
            <ul>
                <li class="active"><a href="#">INICIO</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Acerca De</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>

    </header>
    <div class="Main">
        <div class="content">
            <article class="Top">
                <header>
                    <h2><a href="#">¿Que es HTML5?</a></h2>

                </header>
                <footer>
                    <h5><i>Esto fue posteado el 27/07/2023 por Jimmy López</i></h5>
                </footer>

                <content>
                    <p> es la quinta revisión importante del lenguaje básico de la World Wide Web, HTML.</p>
                    <p> un estándar que sirve para definir la estructura y el contenido de una página Web.</p>
                </content>
            </article>


            <article class="Bottom">
                <header>
                    <h2><a href="#">Introduccion a CSS3</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 27/07/2023 por Jimmy López</i></h5>
                </footer>
                <content>
                    <p> es una tecnología que ha tenido una evolución en el tiempo, que actualmente se encuentra en su
                        versión 3, como su propio nombre indica.</p>
                    <p>Para que sirve CSS3?</p>
                    <p>Sus siglas corresponden a “Cascading Style Sheets”, que tiene el siguiente significado:</p>

                    <p>- Cascading, que significa que los estilos que aplicamos a los elementos de una página web se
                        propagan a los elementos que contiene, se propagan en cascada.</p>
                    <p>- Style, porque mediante CSS lo que hacemos es aplicar estilos visuales a los distintos elementos
                        de nuestra página web.</p>
                    <p>- Sheets, que significa hojas, porque los estilos de una página web se añaden en ficheros aparte,
                        en ficheros con la extensión .css de manera general.</p>
                </content>
            </article>

        </div>
    </div>
                   <aside class="top-sidebar">
                    <h2>Navegación</h2>
                    <ul class="navigation">
                        <li><a href="">INICIO</a></li>
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Acerca De</a></li>
                        <li><a href="#">Contactanos</a></li>
                    </ul>

                   </aside> 
                   <aside class="Bottom-sidebar">
                        <div class="featured">
                            <h2>¿Que es y para que sirve JavaScript</h2>
                            <p>es un lenguaje de programación ligero que los desarrolladores web suelen utilizar para crear interacciones más dinámicas al desarrollar páginas web, aplicaciones, servidores e incluso juegos. </p>
                            <a href="https://www.bing.com/ck/a?!&&p=a54bdb127ca2e7fcJmltdHM9MTY5MDUwMjQwMCZpZ3VpZD0xY2M2NDRjZS0zOGUyLTZhN2MtM2I4OC01NzkzMzk4ZTZiM2ImaW5zaWQ9NTIyOQ&ptn=3&hsh=3&fclid=1cc644ce-38e2-6a7c-3b88-5793398e6b3b&psq=que+es+javascript+y+para+que+sirve&u=a1aHR0cHM6Ly9ibG9nLmh1YnNwb3QuZXMvd2Vic2l0ZS9xdWUtZXMtamF2YXNjcmlwdA&ntb=1">Informate mas acá</a>
                        </div>

                   </aside>

    <footer class="pageFooter">
        <p>Copyright &copy; 2023 - www.MiwebUMG.com/p>
    </footer>


</body>

</html>